:root {
  --bg-color: #04080f;
  --text-color: #dae3e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Poppins, sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: center;
  height: 70px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: center;
}

nav ul li {
  cursor: pointer;
  padding: 10px 20px;
  transition:
    background-color 0.3s,
    color 0.3s;
}
nav ul li a {
  color: var(--text-color);
  text-decoration: none;
}

section {
  border: 1px solid #ccc;
  height: 100vh;
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}

.home-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}


/* Responsive Styles */
@media (max-width: 768px) {
  #home {
    flex-direction: column;
    height: auto;
    gap: 25px;
    padding: 16px;
  }

  .home-img {
    width: 100%;
    height: auto;
  }
}